/node_modules
/.pnp
.pnp.js

# Dependency directories
jspm_packages/

# Dependency files
package-lock.json
yarn.lock

# Environment variables
.env

# testing
/coverage

# production
/build
/dist
/out

# Logs
/logs
*.log

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Miscellaneous
.DS_Store
Thumbs.db

# Windows system files
$RECYCLE.BIN/
Thumbs.db
Desktop.ini

# Logs
logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db
